apiVersion: v1
kind: Route
metadata:
  name: gravitee-api-http
  namespace: {{ l_openshift_gravitee_namespace }}
spec:
  host: {{ gravitee_host }}
  path: "/management"
  tls:
    termination: edge
  to:
    kind: Service
    name: gravitee-api-management
    weight: 100
  wildcardPolicy: None
