apiVersion: v1
kind: Route
metadata:
  name: gravitee-gataway-http
  namespace: {{ l_openshift_gravitee_namespace }}
spec:
  host: {{ gravitee_host }}
  path: "/v1"
  tls:
    termination: edge
  to:
    kind: Service
    name: gateway
    weight: 100
  wildcardPolicy: None